<footer class="footer">
  <div class="footer-top">
    <div class="logo-section">
      <div class="logo-main2" >
        <img src="../../assets/logo-main.png" alt="logo" class="logo-main">
      </div>
      <div>
        <img src="../../assets/light-text-logo.png" alt="logo" class="logo">
      </div>
    </div>
    <div class="nav-links">
      <a routerLink="/contactUs" >Contact Us</a>
      <a routerLink="/features">Features</a>
      <a routerLink="/aboutUs" href="#">About Us</a>
      <a routerLink="/helpCenter" href="#">Help Center</a>
    </div>
  </div>

  <hr class="divider" />

  <div class="footer-bottom">
    <div class="nex-com">2025 © NEXCOMM</div>
    <div class="bottom-links">
      <a routerLink="/terms" href="#">Terms and condition</a>
      <a routerLink="/privacyPolicy" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>

