<div class="header">
    <a href="#" class="logo">
        <img src="../../assets/light-text-logo.png" alt="logo" width="180px">
    </a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <!-- <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Portfolio</a>
        <a href="#">Services</a>
        <a href="#">Contact</a> -->
        <a href="#">Add User</a>
        <a href="#">Edit User</a>
        <a href="#">Logout</a>
    </nav>
</div>

<script>
    const menuIcon = document.querySelector('#menu-icon');
    const navbar = document.querySelector('.navbar');
    const navbg = document.querySelector('.nav-bg');
    menuIcon.addEventListener('click', () => {
        menuIcon.classList.toggle('bx-x');
        navbar.classList.toggle('active');
        navbg.classList.toggle('active');
    });
</script>