<div class="background"></div>

<div class="main-wrapper">
  <!-- Left Side (Main Content) -->
  <div class="glass main-content" style="
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  ">
    <h3>Recent Chats</h3>
    <div class="InputContainer">
        <input placeholder="Search.." id="input" class="input" name="text" type="text">
    </div>
    
    <div class="card-grid" style="margin-top: 30px; width: 100%;">
        <div class="chat-card" *ngFor="let chat of recentChats">
          <h4>{{ chat.title }}</h4>
          <p>{{ chat.description }}</p>
        </div>
      </div>
  </div>

  <!-- Right Side (Sidebar) -->
  <div class="glass sidebar">
    <h3>Online Users</h3>
    <!-- <p>This is a smaller side panel on the right for additional content.</p> -->
    <br />
    <div *ngFor="let user of users" class="row">
        <div class="card">
            <h5>{{ user.userName }}</h5>
        </div>
    </div>
  </div>
</div>
